@font-face {
	src: url("fontes/A_Lolita_Scorned.ttf");
	font-family: "sangue";
}

body {
	font-family: verdana;
	background-color: rgb(0, 0, 0);
	background-image: url("imagens/twd.jpg");
	/* background-repeat: repeat; */
	/* background-repeat: repeat-x; */
	/* background-repeat: repeat-y; */
	background-repeat: no-repeat;
	/* background-position: 50px 100px; */
	/* background-position: left top; */
	/* background-position: left center; */
	/* background-position: left bottom; */
	background-position: center center;
	/* background-size: 780px 460px; */
	background-size: 100% 100%;
	/* background-attachment: scroll; */
	background-attachment: fixed;
}

h1 {
	font-family: sangue;
	text-align: center;
	font-weight: normal;
	font-size: 30pt;
	color: red;
}

p {
	font-size: 11pt;
	text-align: justify;
	text-indent: 50px;
	line-height: 20pt;
	color: #FFFFFF;
}

address {
	font-size: 10pt;
	text-align: center;
	font-style: normal;
	line-height: 15pt;
	color: silver;
}